.card {
    text-align: center;
    border: 0.1px solid lightGrey;
    padding: 33px;
    background-color: white;
    border-radius: 10px;
    min-width: 413px;
    min-height: 552px;
    margin-top: 60px;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
.signUp{
    color:#366EFF;
    font-weight: 600;
    font-size: 16px;
    line-height:24px;
}